body {
    background: tomato;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 140px;
    left: 350px;
}

img {
    position: absolute;
    left: 0;
}

.Eye {
    position: absolute;
    background: #000;
    width: 40px;
    height: 40px;
    top: 250px;
    left: 117px; 
    display: none;
}
